/* Tooltip.module.scss */

.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 294px;
    text-align: center;
    z-index: 1;
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    margin-bottom: 12px;

    .tooltipContents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;
    }

    /* Dark Dropdown Shadow */
    box-shadow: 0px 2px 8px 0px rgba(38, 44, 54, 0.30);

    &.normal {
        background-color: #F2F6FA;
        color: #1E394E;
    }

    &.warning {
        background-color: #F9E6CF;
        color: #1E394E;
    }

    &.error {
        background-color: #F9E9E8;
        color: #1E394E;
    }

    &.top {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* ... Other placement styles ... */
}

.tooltipTitle {
    margin-bottom: 4px;
    /* Typography */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-align: start;
}

.tooltipBody {
    /* Typography */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: start;
}

.tooltipArrow {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;

        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        top: 0;
        left: 50%;
        box-shadow: 0px 2px 8px 0px rgba(38, 44, 54, 0.30);
    }


    &.normal {
        &::after {
            background-color: #F2F6FA;
            color: #1E394E;
        }
    }

    &.warning {
        &::after {
            background-color: #F9E6CF;
            color: #1E394E;
        }
    }

    &.error {
        &::after {
            background-color: #F9E9E8;
            color: #1E394E;
        }
    }
}